<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:jbpm="http://drools.org/schema/drools-spring" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://drools.org/schema/drools-spring org/drools/container/spring/drools-spring-1.2.0.xsd">
  
  
   <bean id="eval" class="com.example.website1.bean.MediclaimProcessModel">
       <property name="userName" value="Sudharshan" ref="ksession"/>
        <property name="userAge" value="26" ref="ksession"/>
         <property name="userCoverage" value="true" ref="ksession"/>
   </bean>

</beans>